body {
    background-color: #f8f9fa;
}

.card {
    border-radius: .75rem;
}

.navbar-brand {
    font-weight: 700;
}

.placeholder {
    width: 10rem;
    height: 5rem;
    border: 2px dashed #ccc;
    margin: .5rem;
    border-radius: .5rem;
}